
    body {
        background-color: blueviolet; 
    }
    p {
color:#e09132  
    }
    h1 {
        font-family: 'Times New Roman', Times, serif;

    }
    .escarcha {
        color: aquamarine;
    }
